body {
	background: #ffb744 url(../images/bg-body.jpg) repeat left bottom;
	font-family: "Times New Roman", Times, serif;
	margin: 0;
}

#background {
	background: url(../images/bg-pattern.jpg) repeat-x center top;
	min-height: 1318px;
}

#page {
	width: 960px;
	margin: 0 auto;
}

img {
	border: 0;
}

/*------------------------------ Sprites ------------------------------*/
#navigation li, #navigation li a:hover, #navigation li.selected a {
	background-image: url(../images/bg-menu.png);
	background-repeat: repeat-x;
}
#contents div.box, #contents div.box > div, #contents div.body {
	background-image: url(../images/content-box.png);
	background-repeat: no-repeat;
}
#main div.box, #main div.box > div, #main div.box > div > div {
	background-image: url(../images/bg-box.png);
	background-repeat: no-repeat;
}

/*------------------------------ HEADER ------------------------------*/
#header {
	margin-bottom: 20px;
	padding-top: 20px;
}

/** Logo **/
#logo {
	float: left;
	margin-bottom: 10px;
	margin-left: 420;
}

/** Navigation **/
#navigation {
	background: url(../images/bg-navigation.png) no-repeat;
	clear: both;
	height: 50px;
	width: 860px;
	margin: 0 auto;
	padding: 1px;
}

#navigation ul {
	display: inline-block;
	width: 860px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation li {
	float: left;
	background-position: 0 -118px;
	background-repeat: no-repeat;
	height: 49px;
	width: 122px;
	margin: 0;
	padding-left: 1px;
	text-align: center;
}

#navigation li:first-child {
	background: none;
	margin-left: 0;
	padding-left: 0;
}

#navigation li a {
	color: #ddd;
	display: block;
	font: bold 14px/48px Arial, Helvetica, sans-serif;
	height: 49px;
	text-decoration: none;
	text-transform: uppercase;
}

#navigation li a:hover {
	background-position: 0 -59px;
	color: #6d6157;
}

#navigation li.selected a {
	background-position: 0 0;
	color: #e4e1bd;
}

/*------------------------------ CONTENTS ------------------------------*/
#contents {
	display: inline-block;
	width: 865px;
	padding: 0 47px;
}

#contents h1 {
	color: #000000;
	font: 26px/30px "Times New Roman", Times, serif;
	margin: 18px 0 20px;
	padding-left: 2px;
	text-transform: uppercase;
}

#contents div.body h2, #contents h2 {
	color: #000000;
	font: 30px/3px "Times New Roman", Times, serif;
	margin: 0 0 0px;
	text-transform: uppercase;
}

#contents h2 {
	font-size: 22px;
	margin: 0 0 30px;
}

#contents h2 a {
	color: #000000;
	text-decoration: none;
}

#contents p {
	color: #000000;
	font-size: 15px;
	line-height: 30px;
	margin: 0;
	padding: 0 0 24px 2px;
}

/** box-shadow **/
#contents div.box {
	background-position: left bottom;
	margin-bottom: 20px;
	margin-left: 1px;
	padding: 0 0 6px;
}

#contents div.box > div {
	background-position: -1745px top;
	padding: 6px 0 0;
}

#contents div.body {
	background-position: -871px top;
	background-repeat: repeat-y;
	min-height: 980px;
	padding: 30px 40px 0;
}

/** Adbox **/
#adbox {
	background: url(../images/bg-adbox.png) no-repeat left top;
	width: 852px;
	margin: 0 auto;
	padding: 4px 5px 18px;
}

#adbox p {
	font-size: 16px;
}

hr {
	border:0;
	border-top: 1px solid #bbbbbb;
	margin-bottom: 30px;
}

/** MAIN **/
#main {
	float: left;
	min-height: 100px;
	width: 566px;
}

#main div.box {
	background-position: left bottom;
	margin-bottom: 12px;
	padding: 0 0 6px;
}

#main div.box > div {
	background-position: -1145px top;
	padding: 6px 0 0;
}

#main div.box > div > div {
	background-position: -572px top;
	background-repeat: repeat-y;
	padding: 17px;
}

#main div.box h3 {
	color: #594334;
	font-weight: normal;
	letter-spacing: 1px;
	border-bottom: 1px dotted #9c8964;
	margin: 0;
	padding: 0 0 12px;
	text-transform: uppercase;
}

#main div.box ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#main div.box ul li {
	border-bottom: 1px dotted #316e66
}

#main div.box ul li p {
	line-height: 24px;
	padding: 0 0 3px;
}

/** SIDEBAR **/
#sidebar {
	float: right;
	height: auto;
	width: 285px;
}

#sidebar div.section {
	height: 144px;
	margin-bottom: 12px;
}

#sidebar div.section:first-child {
	padding: 3px 0 0;
}

#sidebar div.section > a:hover {
	filter:alpha(opacity=60);
	opacity: 0.6;
}

/** testimonials **/
#contents div#testimonials h3 {
	color: #594334	;
	font-weight: normal;
	letter-spacing: 1px;
	border-bottom: 0;
	padding-bottom: 0;
}

#testimonials div.changelogBox {
	border: none;
	padding: 5px;
	font: 24px/36px sans-serif;
	width: 530px;
	height: 200px;
	overflow: scroll;
}

#testimonials p {
	display: inline-block;
	line-height: 24px;
	padding-bottom: 3px;
}

/** Rooms **/
#rooms {
	list-style: none;
	margin: 0;
	padding: 0;
}

#rooms li {
	display: inline-block;
	width: 784px;
	border-top: 1px solid #000000;
	padding: 30px 0;
	position: relative;
}

#rooms li:first-child {
	border-top: 0;
}

#rooms li img {
	float: left;
	border: 1px solid #F8F8FF;
	margin-right: 15px;
}

/*------------------------------ FOOTER ------------------------------*/
#footer {
	color: #e4e1bd;
	font-size: 14px;
	line-height: 48px;
	margin: -38px 0 20px;
	padding-top: 42px;
	text-transform: uppercase;
}

#footer > div {
	background-color: #594334;
	height: 48px;
	width: 822px;
	border-bottom: 1px solid #72675f;
	border-top: 1px solid #cdbeb2;
	margin: 0 auto;
	padding: 0 20px;
	text-align: right;
}

#footer p {
	margin: 0;
	text-align: center;
	text-transform: none;
}